* {
  padding: 0;
  margin: 0;
}

#boardGame {
  width: 330px;
  height: 330px;
  background-color: #eee;
  border: 5px solid black;
  padding-left: 20px;
  padding-top: 20px;
}

.pad {
  padding: 0;
  margin: 0px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid black;
  display: inline-block;

}
